html {
    overflow-y: scroll;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    display: table;
    width: 100%;
}

.appointment-paper {
    width: 100%;
    padding: 10px;
}

.participants-text {
    padding: 10px;
    float: right;
}

.appointment-status-chip {
    width: 100%;
    margin: 5px;
}

.participant-chip {
    margin: 5px;
}

.new-appointment-button {
    width: 350px;
}

.empty-list-placeholder {
    padding: 30px;
    text-align: center;
}
